<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  Size of UserAgentDictionaryCache
            Default: 27MB-->
      <setting name="UserAgentDictionaryCacheSize" value="27MB" /> 
     
	  <!--  Size of UserAgentDictionaryCache
            Default: 29MB-->
      <setting name="DeviceDictionaryCacheSize" value="29MB" />
    </settings>
    <pipelines>
      <startAnalytics>
        <processor type="Sitecore.Support.Analytics.Pipelines.StartAnalytics.ChangeCacheSize, Sitecore.Support.225392" patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CreateTracker, Sitecore.Analytics']"/>
      </startAnalytics>
    </pipelines>
  </sitecore>
</configuration>