<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>
      <!--  Expiration time of UserAgentDictionaryCache
            Default: 1800 seconds
      -->
      <setting name="UserAgentDictionaryCacheExpiration" value="1800" />
      <!--  Size of UserAgentDictionaryCache
            Default: 100MB
      -->
      <setting name="UserAgentDictionaryCacheSize" value="100MB" />
      <!--  Expiration time of ReferringSitesDictionaryCache
            Default: 1800 seconds
      -->
      <setting name="ReferringSitesDictionaryCacheExpiration" value="1800" />
      <!--  Size of ReferringSitesDictionaryCache
            Default: 100MB
      -->
      <setting name="ReferringSitesDictionaryCacheSize" value="100MB" />
      <!--  Expiration time of GeoIpDataDictionaryCache
            Default: 1800 seconds
      -->
      <setting name="GeoIpDataDictionaryCacheExpiration" value="1800" />
      <!--  Size of GeoIpDataDictionaryCache. Overrides the Analytics.GeoIps.CacheSize setting.
            Default: 100MB
      -->
      <setting name="GeoIpDataDictionaryCacheSize" value="100MB" />


      <!--  Size of ReferenceDataClientDictionaryCache. Overrides the Analytics.GeoIps.CacheSize setting.
            Default: 100MB
      -->
      <setting name="ReferenceDataClientDictionaryCacheSize" value="100MB" />

    </settings>
    <pipelines>
      <initializeKnownDataDictionaries>
        <processor type="Sitecore.Support.Analytics.DataAccess.Pipelines.InitializeKnownDataDictionaries.InitializeKnownDataDictionariesProcessor, Sitecore.Support.225392" patch:after="processor[@type='Sitecore.Analytics.DataAccess.Pipelines.InitializeKnownDataDictionaries.InitializeKnownDataDictionariesProcessor, Sitecore.Analytics.DataAccess']"/>
      </initializeKnownDataDictionaries>
      <getDictionaryDataStorage>
        <processor type="Sitecore.Analytics.DataAccess.Pipelines.GetDictionaryDataStorage.GetDictionaryDataProcessor, Sitecore.Analytics.DataAccess">
          <DictionaryData type="Sitecore.Support.Analytics.DataAccess.Dictionaries.DataStorage.ReferenceDataClientDictionary, Sitecore.Support.225392" resolve="true" patch:instead="DictionaryData[@type='Sitecore.Analytics.DataAccess.Dictionaries.DataStorage.ReferenceDataClientDictionary, Sitecore.Analytics.DataAccess']"/>
        </processor>
      </getDictionaryDataStorage>
    </pipelines>
  </sitecore>
</configuration>